.container {
    display: flex;
    padding: 0 55px;
}

.poster {
    background: green;
    flex: 0 0 19%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}

.container:hover .poster {
    transform: translateX(-25%);
}

.poster:hover ~ .poster {
    transform: translateX(25%);
}

.poster:hover {
    transform: scale(1.5) !important;
}
